# jupyter

# Speech recognition
essential-generators
gtts
IPython
librosa==0.8.1
matplotlib
numba
numpy
nltk
pandas
playsound
prosodic
# PyAudio
scikit-learn
scipy
seaborn
selenium
sklearn
tensorflow
tqdm

#Flask server
flask
flask_cors
Flask
python-dotenv
